body{
    background-image: url("Imagenes/Fondo.png") ;
    font-family: 'Oswald', sans-serif;
}

h1{text-align: center;}

.ropa{
    height: 320px;
    width: 240px;
    border-radius: 150px;
    padding: 10px;
    cursor: pointer;
}

#Galeria{
    text-align: center;
    color: black;
    float: right;
    width: calc(100% - 320px); 
    background-color:#F2F2F2;
    margin: 20px;
    margin-top: 10px;
    margin-right: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

#Navegador{
    text-align: right;
    background-color: rgb(121, 215, 184);
}

.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: rgb(86, 136, 133);

}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #181515;
    color: #ccc;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-icons {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-icons a {
    color: #333;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  .footer-icons a:hover {
    background-color: #333;
  }
  
  .footer-icons a i {
    color: #fffafa;
  }
  
  .footer-text {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
