body{
    background-image: url("Imagen/Fondo.png") ;
    font-family: 'Oswald', sans-serif;
}

h1{text-align: center;}
h2{text-align: center;}


.ropa{
    height: 320px;
    width: 240px;
    border-radius: 150px;
    padding: 10px;
    cursor: pointer;
}

#Galeria{
    text-align: center;
    color: black;
    float: right;
    width: calc(100% - 320px); 
    background-color:#F2F2F2;
    margin-top: 40px;
    margin-right: 160px;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

#Navegador{
    text-align: right;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: rgb(121, 215, 184);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: rgb(86, 136, 133);

}